

#canvas{
    background-color: #ffffff;
}

button { 
	width: 80px; 
	height: 30px;
	border-width: 0px; 
	border-radius: 7px; 
	background: #f0855a; 
	cursor: pointer; 
	color: white; 
	font-size: 15px; 
}
button:hover {
	background: #ffffff;
    color: rgb(87, 87, 87);
    border: 2px solid #f0855a;
    border-radius: 7px; 
}


canvas {
    border: 3px solid rgb(139, 139, 139);
    position: absolute;
    margin-left: 100px;
}
#bar_1{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 100px;
}
#bar_2{
    margin-bottom: 10px;
    margin-left: 100px;
}
#bar_3{
    margin-bottom: 20px;
    margin-left: 100px;
}
#slider {
    -webkit-appearance: none;
    height: 5px;
    background: none; 
    outline: none;
    border-radius: 0;
    overflow: hidden;
    cursor: pointer;
}
#slider::-webkit-slider-runnable-track {
    background-color: rgb(241, 241, 241);
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    width: 15px;
    height: 5px;
    background-color: #fff;
    border: 1px solid #999;
    box-shadow: -100vw 0 0 100vw #e66465;
}

